
body {
  background-color: #e1e5de;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #0f100e;
}
h1 {
  font-size:45px;



}
h2 {
  font-size: 30px;
}
h1, h2, h3{
  font-family: "Oswald", sans-serif;
  font-style: normal;
  color: #5e6557;
}
label {
  margin-bottom: 5px;
}
fieldset{
  margin-top: 15px;
  border: none;
  padding: 0;
  margin: 0, 0, 15px, 0;
}
button {
  margin-top: 15px;

}

header {
  display: flex;
  align-items: center;
  gap: 45px;
  justify-content: center
  
}

#page {
  width: 1000px;
  background-color: #f5f6f4;
  padding: 20px 20px 20px 20px;
  margin: 0 auto 65px;
  margin-top: 30px;
  border-radius: 16px;

}
footer {
  margin-top: 45px;

}	



nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
.img {
  display: flex;
  align-items: center;
  gap: 10px;

}

header img{
  width: 500px;

}
.img img {
  width: 350px;
  height: 350px;
  border-radius: 16px;
}

a {
  text-decoration: none;
  color: #0f100e;

}
img {
  border-radius: 16px;
}
a:hover {
  color: #5e6557;
}
table {
  width: 100%;
}
.nossaEquipe {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nossaEquipe img {
  width: 100%;
  border-radius: 16px;
}
